ion-content {
    --padding-start: 10%;
    --padding-end: 10%;
    --background:url('../../assets/cov.jpg') 0 0/100% 100% no-repeat;
  };

  h1,h4{
      color:white;
  }

  ion-button {
    --background: #000000;
    }

  ion-button{

    position: relative;

  }