<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Add Task</ion-title>
    <ion-buttons slot="end" class="buttons-last-slot sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated">
      <ion-button (click)="dismissModal()"
        class="ios button button-clear in-toolbar ion-activatable ion-focusable hydrated">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form #form="ngForm" (ngSubmit)="formSubmit(form)">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input ngModel #nameTaskControl="ngModel" name="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <div *ngIf="nameTaskControl.invalid && (nameTaskControl.dirty || nameTaskControl.touched)">
          <div *ngIf="nameTaskControl.errors.required">
            <small style="color:red">
              Saisir votre task
            </small>
          </div>
        </div>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button [disabled]="form.invalid" type="submit" color="primary" shape="full" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>